<!DOCTYPE html>
<html>
<head>
    <title>CR7 Trophy Cabinet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>🏆 Cristiano Ronaldo Trophy Cabinet</h1>

    <h2>🇵🇹 Sporting CP</h2>
    <ul>
        <li>Supertaça Cândido de Oliveira: 2002</li>
    </ul>

    <h2>🏴 Manchester United</h2>
    <ul>
        <li>Premier League: 2006–07, 2007–08, 2008–09</li>
        <li>FA Cup: 2003–04</li>
        <li>Football League Cup: 2005–06, 2008–09</li>
        <li>FA Community Shield: 2007</li>
        <li>UEFA Champions League: 2007–08</li>
        <li>FIFA Club World Cup: 2008</li>
    </ul>

    <h2>🇪🇸 Real Madrid</h2>
    <ul>
        <li>La Liga: 2011–12, 2016–17</li>
        <li>Copa del Rey: 2010–11, 2013–14</li>
        <li>Supercopa de España: 2012, 2017</li>
        <li>UEFA Champions League: 2013–14, 2015–16, 2016–17, 2017–18</li>
        <li>UEFA Super Cup: 2014, 2017</li>
        <li>FIFA Club World Cup: 2014, 2016, 2017</li>
    </ul>

    <h2>🇮🇹 Juventus</h2>
    <ul>
        <li>Serie A: 2018–19, 2019–20</li>
        <li>Coppa Italia: 2020–21</li>
        <li>Supercoppa Italiana: 2018, 2020</li>
    </ul>

    <h2>🇸🇦 Al-Nassr</h2>
    <ul>
        <li>Arab Club Champions Cup: 2023</li>
    </ul>

    <h2>🇵🇹 Portugal National Team</h2>
    <ul>
        <li>UEFA European Championship: 2016</li>
        <li>UEFA Nations League: 2019</li>
         <li>UEFA Nations League: 2025</li> you guessed it right,remember yamal recently got humbled by goat
    </ul>

    <p><a href="/">← Back to Home</a></p>
</body>
</html>
